*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url('./R.jpg')  center center/cover;
  height:120vh;
  /* background-size:cover; */
  animation: slideshow 24s infinite;
  animation-delay: 5s;
  /* display: flex; */
  flex-direction: column;
  /* padding: 3px 100px; */
  justify-content: center;
  align-items: center;
  /* background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #091216);  
background: linear-gradient(to bottom,  #09181e,#172c35, #203A43, #09181e); */
}
.navbar{
  display: flex;
  align-items: center;
  background: rgb(14, 11, 7, 1) no-repeat center center/cover;
  position: sticky;
  top: 0;
  width: 100%;
  height: 15vh;
  text-transform: uppercase;
  opacity: 0.;
  z-index: 1000;
}
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background-color: #1aeeef;
  border-radius: 6px;
}
nav     label{
  display: none;
}
#click{
  display: none;
}
@media (max-width: 900px){
  .logo{
      margin:4%;
      width:35%;
  }
  .navbar{
      display: block
  }
  .line{
      display: block;
      font-size: 36px;
      position: absolute;
      right: 25px;
      color: white;
      cursor: pointer;
  }
  .cross{
      display: none;
      font-size: 37px;
      position: absolute;
      top: 40px;
      right: 13px;
      color: white;
      cursor: pointer;
  }
  .navbar ul{
      position: fixed;
      display: block;
      text-align: center;
      background: rgb(14, 11, 7, 1) no-repeat center center/cover;
      top: 100px;
      left: -100%;
      height: 100vh;
      width: 100%;
      text-transform: uppercase;
      transition: all 1s ease-in-out;
  }
  #click{
      display: none;
  }
  #click:checked ~ ul{
      left: 0%;
  }
  #click:checked ~.line{
      display: none;
  }
  #click:checked ~.cross{
      display: block;
  }
  .search-btn{
      position: absolute;
      top: 40px;
      right: 20px;
      color: white;
  }

}
.logo{
  display: inline-block;
  width: 90px;
}
.logo img{
  width: 100%;
}

.navlist{
  float: right;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.navlist li{
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 15px 15px;
  text-transform: uppercase;
  
}
.navlist li a{
  border: 20%;
  display: block;
  text-decoration: none;
  color: white;
  padding: 12px 13px;
  font-size: 17px;
}
.navlist li a:hover, a.active{
  color: #000000;
  border-radius: 5px;
  background-color: #47e3e3;
  box-shadow: 0 0 20px #1aeeef;
}

.navlist ul{
  border: 10%;
  position: absolute;
  top: 60px;
  display: none;
  opacity: 0.9;
  border-radius: 4%;
}

.navlist li:hover > ul{
  display: block;
  background-color: #000000;
}


@media (max-width: 900px){
  .navlist li ul{
      display: none;
  }
  .navlist li{
      display: block;
  }
  .navlist li a:hover{
      display: inline-block;
  }
  
}


.search-btn{
  position: absolute;
  right: 20px;
  color: white;
}

@keyframes slideshow{
  0%{
      background: url('./R.jpg')  center center/cover; 
  }
  25%{
      background: url('https://wallpapercave.com/wp/wp9015696.jpg') center center/cover; 
  }
  50%{
      background: url('https://cdn.wallpapersafari.com/67/0/u3cPzW.jpg') center center/cover; 
  }
}


.btn{
  border: none;
  box-shadow: 0 0 1px 1px rgb(5, 5, 5);
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  width: 120px;
  height: 40px;
  font-size: 20px;
  border:1px solid white;
  color:rgb(252, 250, 250) !important;
  background:linear-gradient(rgba(18, 88, 93, 0.7) 20%,rgba(6, 47, 53, 0.7) 30%, hsl(10 0% 0%/ 1));
  opacity: 0.9;
}
.btn:hover{
  background:linear-gradient(rgba(16, 224, 9, 0.7) 50%, hsl(10 0% 0%/ 1));
  color: white;
}
.btn:hover .one{
  opacity: 1;
  display: block;
}
@media (max-width: 800px){
  .logo{
      margin:2%;
      width:30%;
  }
  .firstsection{
      display: flex;
      flex-direction: column;
      height: 400px;
      padding: 3px 5px;
      justify-content: center;
      align-items: center;
  }
  .firstsection h1{
      width: 400px;
      font-size: 2rem;
      font-weight: 550;
  }
  .firstsection p{
      padding: 8px 65px;
      font-size: 1rem;
  }
}
@media (max-width: 440px){
  .firstsection h1{
      width: 250px;
  }
  .firstsection p{
      padding: 8px 20px;
      font-size: 1rem;
  }
  .btn{
      width: 90px;
      margin: 8px;
  }
}
#ulte-se{
  animation: ulte-se 2s ease-out;
}
#ulte-se:hover .one{
  visibility: visible;
}
@keyframes ulte-se{
  0%{
      opacity: 0.3;
      transform: translateX(-500px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);
  }
}
#sidhe-se{
  animation: sidhe-se 2s ease-out;
}
@keyframes sidhe-se{
  0%{
      opacity: 0.3;
      transform: translateX(500px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);
  }
}

/* Contact cards */


.contact-section {
    position: relative;
    padding: 90px 0px 60px;
    /* background-color: ; */
    /* background-image: url('https://th.bing.com/th/id/OIP.E9iPyTLlln60HynLC4JCBQHaE8?w=270&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7'); */
    /* background: url('https://wallpapercave.com/wp/5IQEnQ2.jpg') no-repeat center center/cover; */


}

.contact-section .cards-block {
    position: relative;
    /* opacity: rbg(); */
    color: white;
  }
  
  .contact-section .cards-block .cards {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    
  }
  
  .contact-section .cards .inner {
    color: white;
  /* background-color: rgba(7, 5, 5, 0.4); */
    cursor: pointer;
    position: relative;
    display: block;
    padding: 45px 20px;
    /* opacity: 50; */
    /* background: #ffffff; */
    background: linear-gradient(to top,rgb(72, 72, 72,.5), rgb(14,11,7,.9));
    /* box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.07); */
    transition: all 300ms ease;
  
    opacity: 0.9;
}

.contact-section .cards:hover .inner {
    /* background: rgb(0 0 0 0.80); */
    box-shadow: 4px 15px 46px -10px #63d0a2;
  /* opacity: 0.5; */
    transition: 1s;
}

.contact-section .cards .inner:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 3px solid #0e5559;
    transition: all 1000ms ease;
    transform: scaleX(0);
  
}




.contact-section .cards:hover .inner:before {
    transform: scaleX(1);
    /* opacity: ; */
}


.contact-section .cards .icon-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
    opacity: 50;
  }
  
  .contact-section .cards .icon-box .icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    /* background: #f1f1f1; */
    opacity: 50;
    color: #1d1f21;
    line-height: 80px;
    text-align: center;
    font-size: 26px;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
    
  }
  
  .contact-section .cards:hover .icon-box .icon {
  opacity: 1;
  background: #0e5e6e;
  color: #ffffff;
}   



.contact-section .cards ul li {
  
  font-size: 16px;
  line-height: 1.5em;
  padding-right: 25px;
  
  opacity: 1;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact-section .cards ul li a {
  opacity: 1;
  color:white;

}



.cards .inner .info li a{
  opacity: 1;
    text-decoration: none;
}



/* Map section */


iframe{
  width: 100%;
}
/*  contact section */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");



input,
textarea {
font-family: "Poppins", sans-serif;
}

.container {
position: relative;
width: 100%;
min-height: 100vh;
padding: 2rem;
/* background-color: #fafafa; */
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
/* background-color: rgb(49, 49, 49); */
}

.form {
width: 100%;
max-width: 820px;
background-color: rgb(49, 49, 49);
border-radius: 10px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
z-index: 10;
overflow: hidden;
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.contact-form {
background-color: #175e68;
position: relative;
}


.circle {
border-radius: 50%;
background: linear-gradient(135deg, transparent 20%, #175e68);
background-color: rgb(49, 49, 49);

position: absolute;
}

.circle.one {
width: 130px;
height: 130px;
top: 130px;
right: -40px;
}

.circle.two {
width: 80px;
height: 80px;
top: 10px;
right: 30px;
/* background-color: rgb(49, 49, 49); */

}

.contact-form:before {
content: "";
position: absolute;
width: 26px;
height: 26px;
background-color: #175e68;;
transform: rotate(45deg);
top: 50px;
left: -13px;
}

form {
padding: 2.3rem 2.2rem;
z-index: 10;
overflow: hidden;
position: relative;
}

.title {
color: #fff;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
margin-bottom: 0.7rem;
}

.input-container {
position: relative;
margin: 1rem 0;
}

.input {
width: 100%;
outline: none;
border: 2px solid #fafafa;
background: none;
padding: 0.6rem 1.2rem;
color: #fff;
font-weight: 500;
font-size: 0.95rem;
letter-spacing: 0.5px;
border-radius: 25px;
transition: 0.3s;
}

textarea.input {
padding: 0.8rem 1.2rem;
min-height: 150px;
border-radius: 22px;
resize: none;
overflow-y: auto;
}

.input-container label {
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%);
padding: 0 0.4rem;
color: #fafafa;
font-size: 0.9rem;
font-weight: 400;
pointer-events: none;
z-index: 1000;
transition: 0.5s;
}

.input-container.textarea label {
top: 1rem;
transform: translateY(0);
}

.btn {
padding: 0.6rem 1.3rem;
background-color: #fff;
border: 2px solid #fafafa;
font-size: 0.95rem;
color: #1abc9c;
line-height: 1;
border-radius: 25px;
outline: none;
cursor: pointer;
transition: 0.3s;
margin: 0;
}

.btn:hover {
background-color: transparent;
color: #fff;
}

.input-container span {
position: absolute;
top: 0;
left: 25px;
transform: translateY(-50%);
font-size: 0.8rem;
padding: 0 0.4rem;
color: transparent;
pointer-events: none;
z-index: 500;
}

.input-container span:before,
.input-container span:after {
content: "";
position: absolute;
width: 10%;
opacity: 0;
transition: 0.3s;
height: 5px;
background-color: #175e68;;
top: 50%;
transform: translateY(-50%);
}

.input-container span:before {
left: 50%;
}

.input-container span:after {
right: 50%;
}

.input-container.focus label {
top: 0;
transform: translateY(-50%);
left: 25px;
font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
width: 50%;
opacity: 1;
}

.contact-info {
padding: 2.3rem 2.2rem;
position: relative;
}

.contact-info .title {
color: #2893a1;;
}

.text {
color: rgb(226, 226, 226);
margin: 1.5rem 0 2rem 0;
}

.information {
display: flex;
color: rgb(220, 220, 220);
margin: 0.7rem 0;
align-items: center;
font-size: 0.95rem;
}

.icon {
width: 28px;
margin-right: 0.7rem;
}

.social-media {
padding: 2rem 0 0 0;
}

.social-media p {
color: #333;
}

.social-icons {
display: flex;
margin-top: 0.5rem;
}

.social-icons a {
width: 35px;
height: 35px;
border-radius: 5px;
background: linear-gradient(45deg, #175e68, #149279);
color: #fff;
text-align: center;
line-height: 35px;
margin-right: 0.5rem;
transition: 0.3s;
}

.social-icons a:hover {
transform: scale(1.05);
}

.contact-info:before {
content: "";
position: absolute;
width: 110px;
height: 100px;
border: 22px solid ;
border-radius: 50%;
bottom: -77px;
right: 50px;
opacity: 0.3;
}

/* .big-circle {
position: absolute;
width: 500px;
height: 500px;
border-radius: 50%;
background:  linear-gradient(to bottom, #1cd4af, #159b80);
bottom: 50%;
right: 50%;
transform: translate(-40%, 38%); */
/* color: #000000; */
/* background-color: #000000; */
/* } */

.big-circle:after {
content: "";
position: absolute;
width: 360px;
height: 360px;
background-color: rgb(49, 49, 49);

border-radius: 50%;
top: calc(50% - 180px);
left: calc(50% - 180px);
}

.square {
position: absolute;
height: 400px;
top: 50%;
left: 50%;
transform: translate(181%, 11%);
opacity: 0.2;
}

@media (max-width: 850px) {
.form {
  grid-template-columns: 1fr;
}

.contact-info:before {
  bottom: initial;
  top: -75px;
  right: 65px;
  transform: scale(0.95);
}

.contact-form:before {
  top: -13px;
  left: initial;
  right: 70px;
}

.square {
  transform: translate(140%, 43%);
  height: 350px;
}

.big-circle {
  bottom: 75%;
  transform: scale(0.9) translate(-40%, 30%);
  right: 50%;
}

.text {
  margin: 1rem 0 1.5rem 0;
}

.social-media {
  padding: 1.5rem 0 0 0;
}
}

@media (max-width: 480px) {
.container {
  padding: 1.5rem;
}

.contact-info:before {
  display: none;
}

.square,
.big-circle {
  display: none;
}

form,
.contact-info {
  padding: 1.7rem 1.6rem;
}

.text,
.information,
.social-media p {
  font-size: 0.8rem;
}

.title {
  font-size: 1.15rem;
}

.social-icons a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.icon {
  width: 42px;
}

.input {
  padding: 0.45rem 1.2rem;
}

.btn {
  padding: 0.45rem 1.2rem;
}
}


@keyframes fadeInUp {
0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}

.fadeInUp {

animation-name: fadeInUp;
}




.row-cards {
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;  
margin-top: calc(var(--bs-gutter-y) * -1);
margin-right: calc(var(--bs-gutter-x) * -.5);
margin-left: calc(var(--bs-gutter-x) * -.5);
justify-content: center;
}
.row-cards > * {

flex-shrink: 0;
width: 70%;
max-width: 21rem;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-top: var(--bs-gutter-y);
}

.row-cols-auto > * {
flex: 0 0 auto;
width: auto;
}
.clearfix::after {
display: block;
clear: both;
content: "";
}

ul {
padding-left: 2rem;
margin-top: 0;
margin-bottom: 1rem;

}
/* 
@media(max-width: 1245px){
.row *>{
  max-width: 24rem;
}
} */
/* @media(min-width: 930px){
.row *>{
  max-width: 25rem;
}
} */
@media screen and (min-width:878px) and (max-width:1178px) {
.row-cards > *{
  max-width: 24rem;
}
}




.riya {
padding: 0;
margin: 0;
min-height: 100vh;
display: flex;
align-items: flex-end;
}
footer {
background-color: rgba(0, 0, 0, 0.85);
/* background-image: linear-gradient(45deg, black, grey); */
color: wheat;
font-size: 14px;
}
footer * {
font-family: "Poppins", sans-serif;
box-sizing: border-box;
border: none;
outline: none;
}
.row {
padding: 2em 1em;
}
.row.primary {
display: grid;
grid-template-columns: 2fr 1fr 2fr;
align-items: stretch;
}
.column {
width: 100%;
display: flex;
flex-direction: column;
padding: 0 2em;
min-height: 16em;
}
.a2 {
width: 100%;
text-align: left;
color: peru;
font-size: 1.6em;
white-space: nowrap;
margin-bottom: 26px;
}
.a1 {
list-style: none;
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
line-height: 1.4rem;
}
.a1 li:not(:first-child) {
margin-top: 0.8em;
}
.a1 li a {
color: blanchedalmond;
text-decoration: none;
}
.a1 li a:hover {
color: palevioletred;
}
.about p {
text-align: justify;
line-height: 2;
margin: 0;
}
.footerInput,.footerButton {
font-size: 1em;
padding: 1em;
width: 100%;
border-radius: 5px;
margin-bottom: 5px;
}
.footerButton{
background-color: blue;
color: white;
}
.footerInput,.footerButton :hover{
color: black;
}


.row.secondary {
display: flex;
justify-content: space-evenly;
text-align: center;
}
.row.secondary i {
font-size: 1.8em;
color: white;
padding-bottom: 3%;
}
.row.secondary div {
padding: 1em 0;
width: 100%;
}
.row.secondary div:hover {

}
.copyright {
padding: 0.3em 1em;
background-color: grey;
}
.copyright p {
font-size: 0.9em;
text-align: center;
}
@media screen and (max-width: 850px) {
.row.primary {
  grid-template-columns: 1fr;
}
.row.secondary {
  flex-direction: row;
}
}

.row  .phone:hover{
color: green;
}

.row  .email:hover{
color: yellow;
}
.row .location:hover{
color: red;
}
.row .twitter:hover{
color: cyan;
}