*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('./R.jpg') no-repeat center center/cover;
    /* height:100vh; */
    animation: slideshow 24s infinite;
    animation-delay: 5s;
    /* display: flex; */
    flex-direction: column;
    /* padding: 3px 100px; */
    justify-content: center;
    align-items: center;
    /* background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #091216);  
background: linear-gradient(to bottom,  #09181e,#172c35, #203A43, #09181e); */
}
.navbar{
    display: flex;
    align-items: center;
    background: rgb(14, 11, 7, 1) no-repeat center center/cover;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    opacity: 0.;
    z-index: 1000;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1aeeef;
    border-radius: 6px;
}
nav     label{
    display: none;
}
#click{
    display: none;
}
@media (max-width: 900px){
    .logo{
        margin:4%;
        width:35%;
    }
    .navbar{
        display: block
    }
    .line{
        display: block;
        font-size: 36px;
        position: absolute;
        right: 25px;
        color: white;
        cursor: pointer;
    }
    .cross{
        display: none;
        font-size: 37px;
        position: absolute;
        top: 40px;
        right: 13px;
        color: white;
        cursor: pointer;
    }
    .navbar ul{
        position: fixed;
        display: block;
        text-align: center;
        background: rgb(14, 11, 7, 1) no-repeat center center/cover;
        top: 100px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-transform: uppercase;
        transition: all 1s ease-in-out;
    }
    #click{
        display: none;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~.line{
        display: none;
    }
    #click:checked ~.cross{
        display: block;
    }
    .search-btn{
        position: absolute;
        top: 40px;
        right: 20px;
        color: white;
    }

}
.logo{
    display: inline-block;
    width: 90px;
}
.logo img{
    width: 100%;
}

.navlist{
    float: right;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navlist li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 15px 15px;
    text-transform: uppercase;
    
}
.navlist li a{
    border: 20%;
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px 13px;
    font-size: 17px;
}
.navlist li a:hover, a.active{
    color: #000000;
    border-radius: 5px;
    background-color: #47e3e3;
    box-shadow: 0 0 20px #1aeeef;
}

.navlist ul{
    border: 10%;
    position: absolute;
    top: 60px;
    display: none;
    opacity: 0.9;
    border-radius: 4%;
}

.navlist li:hover > ul{
    display: block;
    background-color: #000000;
}


@media (max-width: 900px){
    .navlist li ul{
        display: none;
    }
    .navlist li{
        display: block;
    }
    .navlist li a:hover{
        display: inline-block;
    }
    
}


.search-btn{
    position: absolute;
    right: 20px;
    color: white;
}

@keyframes slideshow{
    0%{
        background: url('./R.jpg') no-repeat center center/cover; 
    }
    25%{
        background: url('https://wallpaperaccess.com/full/124045.jpg') no-repeat center center/cover; 
    }
    50%{
        background: url('https://cdn.wallpapersafari.com/67/0/u3cPzW.jpg') no-repeat center center/cover; 
    }
}


.btn{
    border: none;
    box-shadow: 0 0 1px 1px rgb(5, 5, 5);
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border:1px solid white;
    color: rgb(19, 170, 212);
    background:linear-gradient(rgba(23, 157, 198, 0.7) 50%,rgba(23, 157, 198, 0.7) 50%, hsl(10 0% 0%/ 1));
    opacity: 0.9;
}
.btn:hover{
    background:linear-gradient(rgba(16, 224, 9, 0.7) 50%, hsl(10 0% 0%/ 1));
    color: white;
}
.btn:hover .one{
    opacity: 1;
    display: block;
}
@media (max-width: 800px){
    .logo{
        margin:2%;
        width:30%;
    }
    .firstsection{
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 3px 5px;
        justify-content: center;
        align-items: center;
    }
    .firstsection h1{
        width: 400px;
        font-size: 2rem;
        font-weight: 550;
    }
    .firstsection p{
        padding: 8px 65px;
        font-size: 1rem;
    }
}
@media (max-width: 440px){
    .firstsection h1{
        width: 250px;
    }
    .firstsection p{
        padding: 8px 20px;
        font-size: 1rem;
    }
    .btn{
        width: 90px;
        margin: 8px;
    }
}
#ulte-se{
    animation: ulte-se 2s ease-out;
}
#ulte-se:hover .one{
    visibility: visible;
}
@keyframes ulte-se{
    0%{
        opacity: 0.3;
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
#sidhe-se{
    animation: sidhe-se 2s ease-out;
}
@keyframes sidhe-se{
    0%{
        opacity: 0.3;
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    /* border: 1px solid #ffffff; */
}
.now{
    color: #04041e;
    margin: 1% 1%;
    font-size: 4.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow:  2px 0px 20px #fbfbfb;
}
.one{
    display: flex;
    padding-bottom: 2%;
    
}
table{
    border:1px solid beige;
    border-color: gray;
    background-color: rgb(8, 8, 8);
    font-size: 12px;
    color:gray;
    opacity: .9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    
}
th{
    border:1px solid gray;
    color: white;
    opacity: 1;
}

td{
    background-color:rgb(37,37,35) ;
    color: white;
    border:1px solid gray ;
}

 footer {
	background-color: rgb(0 0 0 /.85);
	/* background-image: linear-gradient(45deg, black, grey); */
	color: wheat;
	font-size: 14px;
    /* border: 1px solid #ffffff; */
  }
  * {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	border: none;
	outline: none;
  }
  .row {
	padding: 1.5rem .5rem;
    /* border: 1px solid #ffffff; */
  }
  .row.primary {
	display: grid;
	grid-template-columns:  1fr 1fr 1fr;
	align-items: stretch;
    /* width: 95%; */
    /* border: 1px solid #ffffff; */
    /* flex-direction: column-reverse; */
  }
  .column {
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem;
	min-height: 16em;
}
  .a2 {
	width: 100%;
	text-align: left;
	color: peru;
	font-size: 1.6em;
	white-space: nowrap;
	margin-bottom: 26px;
  }
  .a1 {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	line-height: 1.4rem;
  }
  .a1 li:not(:first-child) {
	margin-top: 0.8em;
  }
  .a1 li a {
	color: blanchedalmond;
	text-decoration: none;
  }
  .a1 li a:hover {
	color: palevioletred;
  }
  .about p {
	text-align: justify;
	line-height: 2;
	margin: 0;
  }
  .footerInput,.footerButton {
	font-size: 1em;
	padding: 1em;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 5px;
  }
  .footerButton{
	background-color: blue;
	color: white;
  }
  .footerInput,.footerButton :hover{
	color: black;
  }
  
  
  .row1.secondary {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
  }
  .row.secondary i {
	font-size: 1.8em;
	color: white;
	padding-bottom: 3%;
  }
  .row.secondary div {
	padding: 1em 0;
	width: 100%;
  }
  .row.secondary div:hover {
   
  }
  .copyright {
	padding: 0.3em 1em;
	background-color: grey;
  }
  .copyright p {
	font-size: 0.9em;
	text-align: center;
    position: relative;
    left: 41%;
  }
  @media screen and (max-width: 850px) {
	.row.primary {
	  grid-template-columns:1fr 1fr 1fr;
	}
	.row.secondary {
	  flex-direction: row;
	}
  }
  
  