<!DOCTYPE html>
<html lang="en">

<head xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Car Price Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

</head>

<body class="youj">

    <!-- NAVBAR -->
    <div class="all">

        <nav class="navbar">
            <div class="logo"><img src="{{url_for('static', filename='log.png')}}" alt="logo"
                    onclick="url('https://github.com/Mehrotra01/Mini-Project1')"></div>
            <input type="checkbox" id="click">
            <label for="click" class="line">
                <span class="material-symbols-outlined md-36">
                    ☰
                </span>
            </label>
            <label for="click" class="cross">
                <span class="material-symbols-outlined md-37">
                    ×
                </span>
            </label>
            <ul class="navlist">
                <li><a href="#">Home</a></li>
                <li><a href="{{url_for('static', filename='About.html')}}">About</a>
                </li>
                <!-- <li><a href="#tournaments">Events</a></li>-->
                <!-- <li><a href="#gallery">Gallery</a></li> -->
                <li><a href="{{url_for('static', filename='compare.html')}}">Compare</a></li>
                <li><a href="{{url_for('static', filename='contact.html')}}">Contact&nbsp;Us</a>
                    <!-- <ul>
                        <li style="border-bottom:1px white  solid;"><a href="./pages/contact.html">Contact&nbsp;Team</a>
                        </li>
                        <li><a href="#contact">Contact&nbsp;Us</a></li>
                    </ul> -->
                </li>
            </ul>

        </nav>

        <section class="firstsection" id="home">
            <h1>Buy Your Dream Car</h1>
            <br>
            <br>
            <div class="buttons">
                <button class="btn" id="ulte-se" onclick="showDiv();"
                    style="text-decoration:none; color:black"><b>Predict</b></button>
                <button class="btn" id="sidhe-se"><a href="../static/compare.html"
                        style="text-decoration:none; color:black"><b>Compare<b></a></button>
            </div>
        </section>
        <script>
            function showDiv() {
                document.getElementById("only").style.display = "block";
            }
        </script>
        <div class="container one" id="only">
            <div class="row">
                <div class="card mt-50" style="width: 100%; height: 70%">
                    <div class="card-header" style="text-align: center">
                        <h1>Welcome to Car Price Predictor</h1><a href="/"
                            style="float:right;margin-top:-5%;text-decoration:none;font-size:24px;color:black;">×</a>
                    </div>
                    <div class="card-body">
                        <div class="col-12" style="text-align: center">
                            <h5>This app predicts the price of a car you want to sell. Try filling the details below:
                            </h5>
                        </div>
                        <br>
                        <form method="post" accept-charset="utf-8" name="Modelform">
                            <div class="col-md-12 form-group" style="text-align: center">
                                <label><b>Select the company:</b> </label><br>
                                <select class="selectpicker form-control" id="company" name="company" required="1"
                                    onchange="load_car_models(this.id,'car_models')">
                                    {% for company in companies %}
                                    <option value="{{ company }}">{{ company }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12 form-group" style="text-align: center">
                                <label><b>Select the model:</b> </label><br>
                                <select class="selectpicker form-control" id="car_models" name="car_models"
                                    required="1">
                                </select>
                            </div>
                            <div class="col-md-12 form-group" style="text-align: center">
                                <label><b>Select Year of Purchase:</b> </label><br>
                                <select class="selectpicker form-control" id="year" name="year" required="1">
                                    {% for year in years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12 form-group" style="text-align: center">
                                <label><b>Select the Fuel Type:</b> </label><br>
                                <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required="1">
                                    {% for fuel in fuel_types %}
                                    <option value="{{ fuel }}">{{ fuel }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12 form-group" style="text-align: center">
                                <label><b>Enter the Number of Kilometres that the car has travelled:</b> </label><br>
                                <input type="text" class="form-control" id="kilo_driven" name="kilo_driven"
                                    placeholder="Enter the kilometres driven ">
                            </div>
                            <div class="col-md-12 form-group"
                                style="text-align: center; position: relative; left:-25px;">
                                <button class="btn btn-primary form-control" onclick="send_data()">Predict
                                    Price</button>
                            </div>
                        </form>
                        <br>
                        <div class="row">
                            <div class="col-12" style="text-align: center">
                                <h4><span id="prediction"></span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row primary">
                <div class="column about">
                    <h3 class="a2">ABOUT US</h3>
                    <p>
                        We provide you with each and every update of the ongoing and upcoming events,
                        So you would never miss any chance to race your fingers on keyboard or to race your feet on the
                        dance floor.
                        <br>
                        We are Oppoid..!!
                    </p>
                </div>
                <div class="column links">
                    <h3 class="a2">Quick Links</h3>
                    <ul class="a1">
                        <li>
                            <a href="# ">HOME</a>
                        </li>
                        <li>
                            <a href="#">BLOGS</a>
                        </li>
                        <li>
                            <a href="#"> PRIVACY POLICY</a>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                        <li>
                            <a href="#">GALLERY</a>
                        </li>
                    </ul>
                </div>
                <div class="column subscribe">
                    <h3 class="a2">Join our Newsletter</h3>
                    <div>
                        <input class="footerInput" type="email" placeholder="Enter your email " />
                        <button class="footerButton">Subscribe</button>
                    </div>

                </div>
            </div>

            <div class="row1 secondary">
                <div>
                    <p>
                        <i class="fas fa-phone phone"></i>
                    </p>
                    <!-- <p>6398753795</p> -->
                    <a href="#" style="text-decoration: none; color:white">9767467475</a>
                </div>
                <div>
                    <p><i class="fas fa-envelope email" "></i></p>
                <a href=" mailto:oppoide.2022@gmail.com"
                            style="text-decoration: none; color:white">oppoide.2022@gmail.com</a>
                </div>
                <div>
                    <p><i class="fas fa-map-marker-alt location" "></i></p>
                <p>GLA</p>
              </div>
              <div>
                  <p><i class=" fab fa-twitter twitter"></i></p>
                    <a href="#" style="text-decoration: none; color:white">twitter</a>
                    <a href=""></a>
                </div>
            </div>
            <div class="row copyright">
                <p>Copyright &copy; 2022 Oppoide| All Rights Reserved</p>
            </div>
        </footer>



        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <script>

            function load_car_models(company_id, car_model_id) {
                var company = document.getElementById(company_id);
                var car_model = document.getElementById(car_model_id);
                console.log(company.value);
                car_model.value = "";
                car_model.innerHTML = "";
                // {% for company in companies %}
                if (company.value == "{{ company }}") {
                    // {% for model in car_models %}
                    // {% if company in model %}
                    var newOption = document.createElement("option");
                    newOption.value = "{{ model }}";
                    newOption.innerHTML = "{{ model }}";
                    car_model.options.add(newOption);
                    // {% endif %}
                    // {% endfor %}
                }
                // {% endfor %}
            }
            function form_handler(event) {
                event.preventDefault();
            }
            function send_data() {
                document.querySelector('form').addEventListener("submit", form_handler);
                var fd = new FormData(document.querySelector('form'));
                var xhr = new XMLHttpRequest({ mozSystem: true });
                xhr.open('POST', '/predict', true);
                document.getElementById('prediction').innerHTML = "Wait! Predicting Price.....";
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        document.getElementById('prediction').innerHTML = "Prediction: ₹" + xhr.responseText;

                    }
                };
                xhr.onload = function () { };
                xhr.send(fd);
            }
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>

</html>